*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form {
    display: flex;
}

input#search-bar{
    border: 2px black solid;
    width: 15rem;
    height: 2rem;
}

button#search-button{
    height: 2rem;
    padding: 0 1rem;
    font-weight: bold;
}

button#reroll {
    padding: 0.5rem 2rem;
    font-size: larger;
    font-weight: bold;
}

button{
    background-color:thistle;
}

button:active{
    background-color: blueviolet;
}